In [ ]:
import pandas as pd 
from datetime import datetime
import numpy as np 
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [ ]:
file1 =pd.read_csv("/content/sample_data/BTCUSDC-1d-2021-10.csv", 
                 names=['Open time',
                        'Open',
                        'High',
                        'Low',
                        'Close',
                        'Volume',
                        'Close time',
                        'Quote asset volume',
                        'Number of trades',
                        'Taker buy base asset volume',
                        'Taker buy quote asset volume',
                        'Ignore']
                )

In [ ]:
file2 =pd.read_csv("/content/sample_data/BTCUSDC-1d-2021-11.csv", 
                 names=['Open time',
                        'Open',
                        'High',
                        'Low',
                        'Close',
                        'Volume',
                        'Close time',
                        'Quote asset volume',
                        'Number of trades',
                        'Taker buy base asset volume',
                        'Taker buy quote asset volume',
                        'Ignore']
                )

In [ ]:
file3 =pd.read_csv("/content/sample_data/BTCUSDC-1d-2021-12.csv", 
                 names=['Open time',
                        'Open',
                        'High',
                        'Low',
                        'Close',
                        'Volume',
                        'Close time',
                        'Quote asset volume',
                        'Number of trades',
                        'Taker buy base asset volume',
                        'Taker buy quote asset volume',
                        'Ignore']
                )

In [ ]:
file1['Open time'] = pd.to_datetime(file1['Open time'],unit='ms')
file2['Open time'] = pd.to_datetime(file2['Open time'],unit='ms')
file3['Open time'] = pd.to_datetime(file3['Open time'],unit='ms')

In [ ]:
Data=pd.concat([file1, file2, file3])
Data=Data.iloc[:, 0:11]
Data.set_index('Open time',inplace=True)
df=Data

In [ ]:
df

                Open  ...  Taker buy quote asset volume
Open time             ...
2021-10-01  43822.89  ...                  5.704053e+07
2021-10-02  48181.13  ...                  1.786507e+07
2021-10-03  47662.03  ...                  1.802705e+07
2021-10-04  48214.74  ...                  3.069901e+07
2021-10-05  49252.59  ...                  3.206130e+07
...              ...  ...                           ...
2021-12-27  50815.82  ...                  2.114042e+07
2021-12-28  50714.51  ...                  3.781816e+07
2021-12-29  47559.26  ...                  2.515863e+07
2021-12-30  46472.42  ...                  2.213392e+07
2021-12-31  47125.88  ...                  3.614181e+07

[92 rows x 10 columns]

In [ ]:
x = len(df)-12
x

80

In [ ]:
train = df[:x]
test = df[x:]

In [ ]:
train.shape

(80, 10)

In [ ]:
lr = LinearRegression()
 
X_train = train[["High", "Low", "Close", "Volume", "Quote asset volume", "Number of trades", "Taker buy base asset volume", "Taker buy quote asset volume"]]
 
Y_train = train["Open"]
 
lr.fit(X_train,Y_train)

LinearRegression()

In [ ]:
X_test = test[["High", "Low", "Close", "Volume", "Quote asset volume", "Number of trades", "Taker buy base asset volume", "Taker buy quote asset volume"]]
Y_test = test["Open"]

In [ ]:
open_predictions = lr.predict(X_test)

In [ ]:
mae = sum(abs(open_predictions - test["Open"].values)) / test.shape[0]

print(mae)

537.3894935854163

In [ ]:
dates = test.index
df = pd.DataFrame({'Date':dates,'Actual': Y_test, 'Predicted': open_predictions})
 
# set the date with string format for plotting
df1['Date'] = df1['Date'].dt.strftime('%Y-%m-%d')
 
df1.set_index('Date',inplace=True)

KeyError: ignored

In [ ]:
df

                 Date    Actual     Predicted
Open time
2021-12-20 2021-12-20  46684.54  46138.946578
2021-12-21 2021-12-21  46922.77  47157.464299
2021-12-22 2021-12-22  48903.46  48195.998295
2021-12-23 2021-12-23  48614.45  48849.722374
2021-12-24 2021-12-24  50853.25  51247.554421
2021-12-25 2021-12-25  50844.76  49841.121675
2021-12-26 2021-12-26  50425.88  49526.160104
2021-12-27 2021-12-27  50815.82  51189.670438
2021-12-28 2021-12-28  50714.51  51479.455746
2021-12-29 2021-12-29  47559.26  46821.381650
2021-12-30 2021-12-30  46472.42  46087.214801
2021-12-31 2021-12-31  47125.88  47291.989748